version: "3.9"
services:
  postgres:
    image: postgres:15
    container_name: medical_pg
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: medical_warehouse
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: medical_app
    command: bash -c "uvicorn api.main:app --host 0.0.0.0 --port 8000"
    depends_on:
      - postgres
    ports:
      - "8000:8000"
      - "3000:3000"
    volumes:
      - .:/app
    environment:
      - TELEGRAM_API_ID=${TELEGRAM_API_ID}
      - TELEGRAM_API_HASH=${TELEGRAM_API_HASH}
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=medical_warehouse
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432

volumes:
  postgres_data:
